
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:fragment="products" >
        <section id="category-grid">
            <div class="container">
                <!-- ========================================= SIDEBAR ========================================= -->
                <div th:replace="~{fragment/product-filter :: filter}"></div>
                <!-- ========================================= SIDEBAR : END ========================================= -->

                <!-- ========================================= CONTENT ========================================= -->

                <div th:replace="~{fragment/product-content :: content}" ></div>

                <!-- ========================================= CONTENT : END ========================================= -->
            </div><!-- /.container -->
        </section><!-- /#category-grid -->


    </div><!-- /.top-cart-holder -->

</html>
